---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class='absolute inset-0 h-screen w-screen'>
      <img
        src='/background-dim-small.jpg'
        alt='background image'
      />
    </div>
    <div
      class='relative z-10 my-[30vh] flex w-full flex-col items-center justify-center gap-y-12'
    >
      <h1 class='text-center font-gugi text-7xl text-[#f4bc4c]'>
        Alex Kalinin
      </h1>
      <p class='w-3/4 text-center text-[#f4bc4c]'>
        Software engineer, travelling the world. Blog mostly about homelab,
        guides, and projects.
      </p>
      <div class='flex h-14 flex-row items-center justify-center gap-x-4'>
        <a href='https://www.github.com/kalininator' target='_blank'>
	  <img src='/icons/icons8-github.svg' alt='GitHub' class='h-16 w-16' />
        </a>
        <a href='https://www.linkedin.com/in/kalininator/' target='_blank'>
	  <img src='/icons/icons8-linkedin.svg' alt='LinkedIn' class='h-16 w-16' />
        </a>
        <a href='https://www.instagram.com/kalininator/' target='_blank'>
	  <img src='/icons/icons8-instagram.svg' alt='Instagram' class='h-16 w-16' />
        </a>
      </div>
    </div>
  </body>
</html>
