---
import { Image } from 'astro:assets'
import banner from '../assets/Kalinin Without Slogan Transparent bg.svg'
const menuItems = [{ label: `Blog`, url: '/posts' }]
---

<div class='max-w-screen-md mx-auto font-sans text-main'>
  <header class='relative z-10'>
    <div
      class='mx-auto flex h-14 max-w-screen-md flex-wrap items-center justify-between px-4'
    >
      <a href='/' class='text-2xl font-semibold'>
        <Image src={banner} alt='Alex Kalinin' width={100} height={200} />
      </a>
      <nav>
        <ul class='flex list-none'>
          {
            menuItems.map(({ url, label }) => (
              <li class='relative mx-2 block rounded-lg p-2 text-left font-gugi text-xl hover:underline'>
                <a href={url}>{label}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <slot />
  </main>
</div>
