/* ===============================
CSS global
===================================*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #464646;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: system-ui,-apple-system,Segoe UI,Ubuntu,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;

}
.anchor {
  margin-left: 5px;
  color: #9ca3af;
  text-decoration: none;
  visibility: hidden;
  font-weight: 500;
}

*:hover > .anchor {
  visibility: visible;
}


